* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-dark: #685f5f;
  --bg-lite: #aaa2a2;
  --txt: #f8f9fa;
}

.all {
  background-color: var(--bg-dark);
}

.ui-container {
  background-color: var(--bg-lite);
  display: flex;
  height: 100vh;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
