.register-container {
  background-color: white;
  width: 95%;
  border: 1px;
  border-color: black;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.register-card {
  width: 95%;
  margin: auto;
  padding: 10px;
}

TextField {
  color: red;
}

.submit-container {
  text-align: center;
  padding-top: 10px;
}
