.user-container {
  background-color: white;
  width: 95%;
  border: 1px;
  border-color: black;
  border-radius: 10px;
  margin-top: 55px;
  justify-content: center;
  text-align: center;
  /* margin-left: auto;
  margin-right: auto; */
  padding-bottom: 5px;
}

.user-card-container {
  background-color: white;
  width: 95%;
  border: 1px;
  border-color: black;
  border-radius: 10px;
  margin: 10px auto;
  display: flex;
}

.right-div {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  word-break: normal;
  word-wrap: break-word;
}

.right-header {
  min-height: 30px;
  max-height: 30px;
  padding-top: 8px;
}

.left-div img {
  border-radius: 20px;
  margin-top: 5px;
  padding: 10px;
  max-height: 101px;
  max-width: 110px;
}
.post-container {
  background-color: white;
  width: 95%;
  border: 1px;
  border-color: black;
  border-radius: 10px;
  margin: auto;
  padding-bottom: 5px;
}

.logout-btn {
  width: 95%;
  margin-top: 10px !important;
}

.edit-btn {
  color: lightgray !important;
}

.edit-input {
  padding: 20px 0px !important;
}

.update-btn {
  margin-top: 10px !important;
  width: 95%;
}

.post-field {
  margin-top: 10px !important;
}

/* .user-card-container {
  margin: 0 5px 0 5px;
  border: 1px;
  border-radius: 5px;
  display: flex;
}
.left-div {
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}



.left-div h4 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.right-div {
  margin-left: auto;
  margin-right: auto;
}
.right-header {
  width: 100%;
  display: inline-flex;
  align-items: baseline;
}

.right-header h5 {
  flex: 1;
  text-align: right;
  margin-right: 10px;
} */
