.main-feed {
  overflow-y: scroll;
  flex: 0.4;
}

.main-feed::-webkit-scrollbar {
  display: none; /* Hide for Chrome/Safari/Opera */
}

.main-feed {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.feed-header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-bottom: 5px;
}

.feed-body h1 {
  text-align: center;
}

.feed-post {
  padding-bottom: 10px;
}

@media only screen and (max-width: 900px) {
  .main-feed {
    flex: 0.6;
  }
}
