.post-card {
  background-color: white;
  width: 95%;
  border: 1px;
  border-color: black;
  border-radius: 10px;
  margin: auto;
  display: flex;
  position: relative;
  padding-bottom: 5px;
  /* align-items: center;
  justify-content: center; */
}

.post-votes {
  font-size: 2rem;
  justify-content: space-around;
  text-align: center;
}
.post-votes .post-up {
  padding-top: 10px;
  margin-bottom: 0;
  bottom: 0;
}

.post-votes h5 {
  padding: 2px;
  margin: 0;
  text-align: center;
}
.post-votes .post-dn {
  padding-bottom: 10px;
  margin: 0;
  top: 0;
}

.post-header {
  width: 100%;
  display: flex;
}
.post-left {
  display: flex;
}
.post-left img {
  border-radius: 20px;
  margin-top: 5px;
  padding: 10px;
  max-height: 101px;
  max-width: 110px;
}

.post-right {
  padding-top: 8px;
  padding-right: 8px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.post-details {
  flex-grow: 1;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  min-height: 25px;
  max-height: 25px;
}
.post-title {
  font-weight: 800;
  font-size: 1.5rem;
}
.post-time {
  color: gray;
  font-style: italic;
}

.post-body {
  flex-grow: 2;
  word-break: break-all;
  word-wrap: break-word;
}
.post-footer {
  padding: 0 !important;
  border-radius: 0;
  color: gray;
  text-align: right;
  right: 0;
  bottom: 0;
  flex-grow: 1;
  display: flex;
  margin-left: auto;
}

.post-meta {
  display: none;
}

.comments {
  border-radius: 0 !important;
  padding: 0;
  margin: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
}

.dlt-btn {
  margin-right: 5px !important;
}

.delete {
  display: none !important;
}

.post-card:hover .delete {
  display: flex !important;
  font-size: 18;
  max-height: 100% !important;
  padding: 0;
}

.comment-card:hover .delete {
  display: flex !important;
  font-size: 14;
  max-height: 100% !important;
  padding: 0;
  max-width: 30px !important;
  margin-right: 5px;
  margin-left: auto;
}
/* TODO Add a fade on the hover */

.comment-form-container {
  background-color: white;
  display: flex;
  width: 90%;
  border: 1px;
  border-color: black;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 2.5%;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 95%;
  padding: 10px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.comm-field {
  width: 75%;
}
.comment-btn {
  height: 40px;
  width: 20px;
}
