.community-panel {
  flex: 0.3 !important;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.community-panel::-webkit-scrollbar {
  display: none; /* Hide for Chrome/Safari/Opera */
}

.c-header {
  text-align: center;
  padding: 9px 0px;
}

@media only screen and (max-width: 900px) {
  .community-panel {
    flex: auto;
    max-width: 100px;
  }
  .c-card-container {
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .c-left-div {
    padding: 0 !important;
  }

  .c-right-header {
    margin: 5px;
    padding-top: 0px;
  }
  .c-right-body {
    display: none !important;
  }
}
