.c-card-container {
  background-color: white;
  width: 95%;
  border: 1px;
  border-color: black;
  border-radius: 10px;
  margin: auto;
  display: flex;
  margin-bottom: 10px;
  transition: all 0.45s;
}
.c-card-container:hover {
  scale: 103% !important;
  transition: all 0.45s;
}

.c-right-div {
  word-break: normal;
  word-wrap: break-word;
}

.c-right-header {
  min-height: 30px;
  max-height: 30px;
  padding-top: 8px;
}

.c-left-div img {
  border-radius: 20px;
  margin-top: 5px;
  padding: 10px;
  max-height: 90px;
  max-width: 90px;
}

.c-right-body {
  overflow: hidden !important;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding-right: 3px;
}
